<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="http://files.softicons.com/download/android-icons/simplum-icons-by-babysnoop03/png/256x256/music.png">
</div>

<a routerLink="">Home</a>
<a routerLink="about">About</a>
<a routerLink="marketplace">Marketplace</a>

<div class="container">
  <router-outlet></router-outlet>

</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
